@import '../../colors.scss';

.app-bar {
  background: $background-dark;
  border-bottom-left-radius: 80px;

  height: 120px;

  display: flex;
  flex-direction: column;

  color: $background-light;

  flex: 1 1 auto;

  justify-content: center;
  align-items: center;
}